# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv/
venv/
.uv/

# IDE
.vscode/

# Environment variables
.env
.env.local

# Python version
.python-version

# uv.lock
uv.lock

# all result files
results/*
evaluation/results/nestful_3/google/gemma-3-27b-it:free/output.jsonl
evaluation/mcp_bench/api_key
cache/tool_cache.db
